<nav
  class="navbar navbar-expand-lg navbar-light"
  style="background-color: #e3f2fd"
>
  <div>
    <img src="favicon.ico" />
  </div>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"
          >Juego de dados <span class="sr-only">(current)</span></a
        >
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Nombre del jugador"
      aria-label="Recipient's username"
      aria-describedby="button-addon2"
      [(ngModel)]="Nombre"
    />
    <button class="btn btn-success" (click)="dado1.aleatorio()" (click)="dado1.ultimos3Sueldos()" >Tirar</button>
  </div>
  <app-dados #dado1></app-dados>
  <hr />
  <label
    ><h3>
      El jugador: {{ Nombre }}
      <br />
      con numeros: {{ dado1.valor }} {{ dado1.valor1 }} {{ dado1.valor2 }}
      <br />
      
      
      <div *ngIf="dado1.condicion; else pierde">{{ ganador }}</div>
      <ng-template #pierde>{{ perdedor }}.</ng-template>
    </h3>
  </label>
</div>


<footer class="bg-light text-center text-lg-start"id="footer">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2021 Copyright:
    <a class="text-dark" href="https://mdbootstrap.com/"
      >Bryant Alfonso Moncada Contreras</a
    >
  </div>
  <!-- Copyright -->
</footer>
